#post-titles {
    text-decoration: none !important;
    color: black !important;
}

#small {
    font-size: 11px;
    text-align: center;
    margin-bottom: 25px;
}

@keyframes blink {

    50% {
        opacity: .6
    }
    80% {
        opacity: .9
    }
}

#question-mark {
    font-weight: 100;
    color: lightgrey;
    font-size:30px;
}
#question-mark-2 {
    font-weight: 700;
    color: skyblue;
    font-size: 40px;
}
#question-mark-3 {
    font-weight: 400;
    color: black;
    font-size: 30px;
}

#kanzi-art {
    display: block;
    max-height: 300px;
}


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');

#swsw {
    font-family: 'Cuprum', sans-serif;
}
#quote {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  color: black;
}


#kanzi-name {
    font-size: 35px;
}


#kanzi-hieroglyph {
    font-size: 100px;
}


#imagine {
    margin: 15px;
}

#swsw {
    margin-top: 10px;
    margin-bottom: 25px;
}

#signature {
    text-align: center;
}

p {
    text-align: left;
}

#quote {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#quote-link {
    text-align: right;
    font-size: 11px;
    text-decoration: none;
    margin-bottom: 25px;
}

#quote-link a {
  text-decoration: none;
  color: black;
}

blockquote {
    background-color: #F8F8F8;
    border: 1px solid white;
    border-radius: 15px;
}

#date {
    font-size: 18px;
}

#breakdown {
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 17px;
    animation: blink 1s linear infinite;
}


#kanzi-container {
    margin-top: 25px;
    margin-bottom: 25px;

}

#understand-keys {

    text-align: center;
    padding: 15px;
    font-size: 17px;
    /*animation: blink 2s linear infinite;*/

}

#morse {
    text-align: center;

}

#post-title {
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#post-content {
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

#post-container{

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#kanzi-keys {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
}
