
{% load static %}

{% block content %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">


<div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">
          All Products
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <a class="text-dark text-decoration-none"
                   href="{{ product.get_absolute_url }}">
          <div class="card shadow-sm">

            <img class="img-fluid"
                 alt="Responsive image"
                 src="{{ product.image.url }}">

            <div class="card-body">
              <p class="card-text">
                  {{ product.title }}
                  <small id="price"
                         class="text-muted">
                      ${{ product.price }}
                  </small>
              </p>

              <div class="d-flex justify-content-between align-items-end">
                <small class="text-muted">
                    {{ product.description }}
                </small>
              </div>
            </div>
          </div>
          </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}