{% extends "base.html" %}
{% load static %}
{% block title %}telexi store{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">

        <img class="" width="270px"
                 alt="telexi logo"
                 src="{% static 'img/telexi_logo.jpg' %}">
        <p class="lead text-muted">enabling <em>expression</em> through experiment</p>

      </div>
    </div>
  </section>


    <section id="home-container">
                <p class="paragraph">A compound of telephone and lexigram,
                <em class="telexi_text"> telexi </em>
                is a communication platform which seeks to improve
                mutual understanding between humans and dogs. </p>


                <h4 class="question_headers">What is it ...exactly?</h4>
                <p class="paragraph">Physically, <em class="telexi_text">telexi </em>
                 is a series of manufactured tiles with embedded touch sensors
                and a speaker.</p>

                <p class="paragraph">The sensors enable <em class="telexi_text">telexi </em>
                to receive and process touch events from dogs. </p>

                <p class="paragraph">When a dog touches a
                tile with its nose or paw, <em class="telexi_text">telexi </em> interprets this
                    touch as an <em>intent</em> and vocalizes the intent with an associated
                audio clip.</p>

                <h4 class="question_headers">How does it work?</h4>

                <p class="paragraph">Consider a dog who’s conditioned to
                associate the word “water” with the real thing. When
                its trainer speaks “water”, the dog receives water. </p>

                <div>
                    <img class="illustrations"
                    src="{% static 'img/serve.png' %}"
                    alt="trainer serving water to dog"
                         height="500px"
                    />
                </div>

                <hr class="hr"/>

                <p class="paragraph">Now let's equip the trainer with a
                <em> telexi</em> device and smartphone app.</p>

                <p class="paragraph">The trainer plugs the device into a power outlet.
                He then opens his phone's wifi settings, and selects the <em>telexi</em> network,
                establishing an internet connection with his local wifi router.</p>

                <div>
                    <img class="illustrations"
                    src="{% static 'img/loop.png' %}"
                    alt="diagram of flow"
                         height="500px"
                    />
                </div>


                <p class="paragraph">Now the trainer opens the <em class="telexi_text">telexi </em> app,
                where he's prompted for a recording.
                He speaks "water" and submits the audio clip.</p>

                <hr class="hr" />

                <p class="paragraph">Our trainer is now ready to attach a tile to the device
                to serve as a visual representation of "water".</p>

                <p class="paragraph">In order to distinguish between words, we must use unique
                    shapes called <em>lexigrams</em>. Because the shape of his dog's water dish is a circle,
                he chooses that shape and connects the tile to the device.
                 </p>

                <br/>
                <p class="paragraph">/// Image here where man connects a tile to the device while dog watches on</p>
                <br/>

                <p class="paragraph">Navigating back to the app, he
                 assigns the "water" audio clip to the tile. </p>

                 <p class="paragraph"><em class="telexi_text">telexi </em> uploads
                 the clip into his device's vocabulary,
                which can now speak "water" from its position on the wall, floor, or surface.</p>

                <br/>
                <p  class="paragraph">/// Insert image of dog touching tile with its nose as man watches on with a smile</p>
                <br/>

                <p class="paragraph">Now, when the dog touches the
                tile, it can request water! The dog telephoned a lexigram!</p>

                <hr class="hr"/>

                <h4 class="question_headers">
                Ok, so the dog can “talk” but isn’t this a novelty? </h4>

                <p class="paragraph">True -- touching a tile to speak a word isn’t exactly
                remarkable. Products like these exist already. </p><br/>

                <p class="paragraph">What separates <em class="telexi_text">telexi </em>
                from traditional training buttons is the integration of <em>software</em>.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img id="profile-img"
                                 class=""
                            src="{% static 'img/ava.png' %}"
                            alt="ava profile image"/>
                        </div>
                        <div class="col-4">
                            <img class="index-img"
                            src="{% static 'img/touch_events_diagram.png' %}"
                                 height="500px"
                            alt="diagram of flow"/>
                        </div>
                        <div class="col-4">
                            <img id="touch_diagram_2"
                            src="{% static 'img/touch_events_diagram_2.png' %}"
                                 height="500px"
                            alt="calendar of touch events"/>
                        </div>
                    </div>
                </div>


                <p class="paragraph"><em class="telexi_text">telexi</em>'s app tracks
                touch events over time to visualize patterns which emerge in data.
                </p>

                <p class="paragraph">
                    The data is profiled and
                     sourced as a reference point for dogs of the same
                    breed, sex, age, or other criteria.
                </p>

                <p class="paragraph">
                <em class="telexi_text"> telexi</em>'s development was inspired by the
                research of John W. Pilley, whose
                work with Chaser the Border Collie
                 demonstrates that dogs can comprehend sentences with a
                prepositional object, verb, and direct object. For example,
                    "take snoopy To boston" from Trial 2a.
                    <sup>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S002396901300026X">
                            Read here
                        </a>
                    </sup>
                </p>


                <p class="paragraph">We believe dogs are capable of even more complex and
                 abstract thought and we aim to develop a tool to enable dogs
                    to <em>express</em> these thoughts.</p>

                <p class="paragraph">In doing so, we wish to
                    offer access to data for researchers like the late
                    John Pilley in order to accelerate humanity's understanding
                    of dog cognition, sourced from touch events by our own best
                friends around the world.</p>
</section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <a class="text-dark text-decoration-none"
                   href="{{ product.get_absolute_url }}">
          <div class="card shadow-sm">

            <img class="img-fluid"
                 alt="Responsive image"
                 src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">

                  {{ product.title }} <small id="price" class="text-muted">${{ product.price }}</small>

              </p>

              <div class="d-flex justify-content-between align-items-end">
                <small class="text-muted">{{ product.description }}</small>
              </div>
            </div>

          </div>
          </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>




</main>

{% endblock %}