{% extends "base.html" %}
{% load static %}
{% block title %}telexi canine communication{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">

        <img class=""
             width="270px"
             alt="telexi communication platform logo"
             src="{% static 'img/telexi_logo.jpg' %}">
        <p class="lead text-muted">enabling <em>expression</em> through experiment</p>

      </div>
    </div>
  </section>

    <section>
        <div id="banner">
            <h4>Coming Spring 2021</h4>
        </div>
    </section>

    <section id="home-container">

                <div>
                    <p class="paragraph"><em class="telexi_text"> telexi </em> (telephone + lexigram)
                    is a platform to improve communication between humans and dogs.</p>
                </div>

                <p class="paragraph">
                    Physically, <em class="telexi_text">telexi </em>
                    is a series of tiles with touch sensors and a speaker.
                </p>

                <p class="paragraph">
                    When a dog touches a tile with its nose or paw,
                    <em class="telexi_text">telexi </em> interprets this
                    touch as an <em>intent</em> and vocalizes the intent
                    with an audio clip.
                </p>

                <h4 class="question_headers">How it works</h4>

                <p class="paragraph">
                    Let's consider an trainer who's conditioned his dog
                     to associate the word <em>water</em> with the real thing. <br/><br/>
                    When he gives his dog water, he speaks "water" out loud <br/>
                    so the dog knows the name by reference.
                </p>

                <div class="container">

                    <img
                    id="man-serves-water-to-dog-illustration"
                    class=""
                    src="{% static 'img/man-serves-water-to-dog.jpg' %}"
                    alt="trainer serves water dish to dog"
                    />


                </div>

                <p class="paragraph">

                    <br/>But knowing a word alone isn't so useful. The communication only flows one-way. <br/><br/>
                    The trainer can speak "water",
                    but the dog can't. <br/>
                    It remains unable to <em>request</em> water.
                </p>

                <hr class="hr"/>

                <p class="paragraph">
                    Now let's equip the trainer with a
                    <em> telexi</em> hub and mobile app.
                </p>

            <div id="how-it-works-container"
                class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <h5>Connect hub to Wifi</h5>
                        </div>
                        <div class="row">
                            <ul class="fa-ul">
                                <li>plug hub into power outlet</li>
                                <li>open mobile device's Wifi settings</li>
                                <li>select <em>telexi</em> network</li>
                                <li class="success">
                                    <span class="fa-li">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    hub connected to Wifi
                                </li>
                            </ul>
                        </div>
                    </div>


                <div class="col-sm">
                    <div class="row">
                        <h5>Record word</h5>
                    </div>

                    <div class="row">
                        <ul class="fa-ul">
                            <li>open <em>telexi</em> app</li>
                            <li>prompt displays to record word</li>
                            <li>record word/re-record word</li>
                            <li>Submit recorded word</li>
                            <li class="success">
                                <span class="fa-li">
                                    <i class="fas fa-check"></i>
                                </span>
                                <em>telexi</em> uploads word to hub
                            </li>

                        </ul>
                    </div>
                </div>

                </div>
            </div>

                <div class="container">
                    <img id="water-audio-clip-passes-to-telexi-hub-illustration"
                            src="{% static 'img/water-audio-clip-passes-to-telexi-hub.jpg' %}"
                            alt="diagram illustrates how the water audio clip is
                                    delivered from the phone app to the
                                    wifi router to the telexi hub"
                    />
                </div>

                <hr class="hr" />

                <p class="paragraph">
                    The trainer can now attach a tile
                    to represent the word <em>water</em>. <br/><br/>
                    In order to distinguish between words,
                    each tile must be unique. To accomplish this, we use shapes
                    called <em>lexigrams</em>.
                </p>

                <p class="paragraph">
                    The shape of his dog's water dish is a circle, so
                    the trainer chooses a circle and connects the
                    lexigram to the hub at port 1.
                </p>
                <br/>

                <p class="paragraph">
                    // TO-DO: Insert image where man connects lexigram to hub as dog watches
                </p>
                <img src="#" alt="">
                <br/>

                <p class="paragraph">Navigating back to the app, he
                    assigns the <em>water</em> audio clip to the lexigram. </p>

                <p  class="paragraph">
                    // TO-DO: Insert image where dog touches lexigram with nose as man watches
                </p>
                    <img src="#" alt="">
                <br/>

                <p class="paragraph">
                    Now, when the dog touches the
                    lexigram, it can request water!
                    The dog telephoned a lexigram!?
                </p>

                <hr class="hr"/>

                <h4 class="question_headers">Ok, so the dog can “talk” but isn’t this a novelty? </h4>

                <p class="paragraph">
                    True -- touching a tile to speak
                    a word isn’t exactly
                    remarkable. Products like these exist already.
                </p>

                <p class="paragraph">What separates
                    <em class="telexi_text">telexi </em>
                    from traditional dog communication buttons is the integration of
                    <em>software</em>.
                </p>

                <p class="paragraph">
                    <em class="telexi_text">telexi</em>'s
                    app tracks touch events over time to visualize patterns which emerge in data.
                </p>

                <div id="illustration-container">
                    <div class="row">
                    <div class="col-sm">
                        <img id="diagram-1"
                                src="{% static 'img/touch_events_diagram.png' %}"
                                alt="diagram of dog's touch events"/>
                    </div>

                    <div class="col-sm">
                        <img    id="diagram-2"
                        src="{% static 'img/touch_events_diagram_2.png' %}"
                        alt="diagram of dog's touch events over time"/>
                    </div>

                </div>
                </div>


                <p class="paragraph">
                    The data is streamed, profiled and
                     sourced as a reference point for dogs of the same
                    breed, sex, age, or other criteria.
                </p>

         <img   id="profile-img"
                 src="{% static 'img/ava-others.jpg' %}"
                 alt="a single dog's profile avatar displays with a
                       United States of America flag to
                     indicate nationality, and a container displays
                     which indicates sex by Female, age by 14 weeks,
                     and breed by German Shepherd"/>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">
          All Products
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <a class="text-dark text-decoration-none"
                   href="{{ product.get_absolute_url }}">
          <div class="card shadow-sm">

            <img class="img-fluid"
                 alt="Responsive image"
                 src="{{ product.image.url }}">

            <div class="card-body">
              <p class="card-text">
                  {{ product.title }}
                  <small id="price"
                         class="text-muted">
                      ${{ product.price }}
                  </small>
              </p>

              <div class="d-flex justify-content-between align-items-end">
                <small class="text-muted">
                    {{ product.description }}
                </small>
              </div>
            </div>
          </div>
          </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>































                <p class="paragraph">
                    <em class="telexi_text"> telexi</em>'s
                    development was inspired by the
                    research of John W. Pilley, whose
                    work with Chaser the Border Collie
                     demonstrates that dogs can comprehend sentences with a
                    prepositional object, verb, and direct object. (Pilley recounts their
                    triumphs and shortcomings in
                    <a href="https://www.amazon.com/Chaser-Unlocking-Genius-Knows-Thousand/dp/0544334590">
                        <em>Chaser: Unlocking the Genius of the Dog Who Knows a Thousand Words</em>
                    </a>).
                </p>

                    <p class="paragraph">
                        Many other academics like Pilley have studied and published
                        research on dog communication and perception.
                        Their findings have informed our sense of what's
                        possible with canine signals and lexicon.
                    </p>

                <p class="paragraph">
                    seawolf software believes dogs are capable of complex and
                    abstract thought. As a work in progress, we aim to develop <em>telexi</em>
                    as a tool to better enable dogs to <em>express</em> these thoughts.
                </p>

                    <p class="paragraph">
                        In doing so, we hope to accelerate humanity's understanding
                        of dog cognition, sourced from touch events by our own best
                        friends around the world.
                    </p>



</section>





</main>

{% endblock %}