{% extends "base.html" %}

{% block title %}telexi canine communication{% endblock %}


<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/posts/index.css' %}">
</head>
<body>


{% block content %}

<section id="post-container" class="container">

    <div class="container">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player id="hr-lottie"
                            src="https://assets10.lottiefiles.com/packages/lf20_R7CRMj.json"
                           background="transparent"
                           speed="1.2"
                            style="height: 50px"
                           loop
                           autoplay>
            </lottie-player>

        <h1 id="post-title">{{ post.title }}</h1>

        <div id="post-content" class="row">

            <blockquote>
                <p id="quote">
                    “The media we use shape our interactions, just as an electric screwdriver remodels the activity of tightening a screw.”
                </p>

                <div id="quote-link">
                    <a href=" https://doi.org/10.1057/9780230513389_2">Design Features of Language <br/>- Kanzi’s Primal Language</a>
                </div>
            </blockquote>

            <p>
                Imagine life without a keyboard.
            </p>

 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player id="hr-lottie"
                                src="https://assets7.lottiefiles.com/datafiles/WIRy7Ny0KV28BJg/data.json"
                               background="transparent"
                               speed="1.2"
                                style="height: 70px; margin-bottom: 15px;"
                               loop
                               autoplay>
                </lottie-player>


                <p>
                    No keyboard on your phone or computer. No cheating with a typewriter or telegraph.
                </p>

                <p id="expression">
                    Whatever form it takes, the keyboard iterates with technology because it’s a practical tool for <em>expression</em>.
                </p>


                <p>
                    Combinations of keys allow anyone to share any thought with the world, with one condition...
                </p>

                <p id="understand-keys">
                    <em><strong>someone can read the keys!</strong></em>
                </p>



                <p>
                    We take this for granted. You're reading English, a language which benefits from a culture spanning the globe.
                </p>

                <div id="breakdown">
                    ¿ ♭ut what if I querer etacinummoc 给不懂语言的人 ? <br/>
                     Comprenderde u ¿理解 understand html> ?00111111
                </div>

                <hr />


                <p>
                    The following images are visual representations of Kanzi,
                    a 40 year-old bonobo who lives in Iowa. <br/><br/>

                    Kanzi knows the Chinese-ish character below as his name in <em>lexigram</em>
                    form, designed by sapien Sue Savage-Rumbaugh.<br/><br/>

                    Image three is a drawing Kanzi produced of his own lexigram.
                </p>


                <div id="kanzi-container" class="container">
                    <div class="row">
                        <div class="col">
                            <img src="kanzi_profile.jpeg">
                        </div>
                        <div class="col">
                            <div class="col">
                                <img src="kanzi_lexigram.svg">
                            </div>
                            <div >
                                <img id="kanzi-art" src="kanzi-art.jpeg">
                            </div>
                        </div>
                    </div>
                </div>


                <p>
                    If the purpose of a key within a dictionary is to map a name
                    to a value, then perhaps life begins with an empty dictionary,
                    adding new keys only when encountering new values through experience
                    with the environment or abstract thought.

                </p>
                <p>
                    Memory retention of keys would depend on repeated interactions or rethinkings of the value, motivating the discoverer to strengthen the association between
                    the two, if not for the sake of communication then for convenience.
                </p>

                <p>
                    This idea of constructing an input-output map is common in software, where the algorithm receives labeled data as pairs and the goal is to learn the relationship between X and Y.
                </p>

                <p>Equipped with his keys, Kanzi has been able to share an immeasurable
                wealth of ideas to sapiens, mainly to Sue, a life companion since being only months old.</p>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img id="kanzi-keys" src="kanzi_keys.jpeg">
                        </div>
                    </div>
                </div>


                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">

                </script>
                <lottie-player id="hr-lottie"
                                src="https://assets5.lottiefiles.com/packages/lf20_wzq5hrhg.json"
                               background="transparent"
                               speed="2"
                                style="height: 150px"
                               loop
                               autoplay>
                </lottie-player>

                <p>
                    But what if Sue never gave <em>Kanzi</em> a keyboard
                    <span id="question-mark">?</span>
                    <span id="question-mark-2">?</span>
                    <span id="question-mark-3">?</span>
                </p>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player id="hr-lottie"
                                src="https://assets7.lottiefiles.com/datafiles/WIRy7Ny0KV28BJg/data.json"
                               background="transparent"
                               speed="1.2"
                                style="height: 70px; margin-bottom: 15px;"
                               loop
                               autoplay>
                </lottie-player>



<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player id="hr-lottie"
                                src="https://assets5.lottiefiles.com/datafiles/U7FYTIakP1WfecF/data.json"
                               background="transparent"
                               speed="1.2"
                                style="height: 50px"
                               loop
                               autoplay>
                </lottie-player>


                <div id="signature" class="container">
                    <h4 id="swsw">seawolf software</h4>
                    <h4 id="date">{{ post.created }}</h4>
                    <p>Tags: proto-literature, human rights, animal cognition</p>

                </div>

        </div>
    </div>

</section>




{% endblock %}



</body>
</html>