 /* For desktop: */
@media only screen and (min-width: 768px) {

  .swsw_logo {
    display: block;
    background-color: #333230;
    position: bottom;
    width: auto;
    height: 250px;
    float: right;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_container {
    background-color: #333230;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
  }

    #page-container {
      position: relative;
      min-height: 100vh;
      padding-bottom: 1000px;
    }

    #content-wrap {
      padding-bottom: 100px;    /* Footer height */
    }

    #price {
        float: right;
    }

}


